h1{
    text-align: center;
    font-style: normal;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: normal;
    color: white;
    text-shadow: 2px 2px 4px #000000;

    }

body{
    background: rgb(199, 90, 2);
    height: 1000px;
    background-image: linear-gradient(rgb(199, 90, 2), rgb(245, 184, 72));
}

.display-panel{
    display: flex;
    flex-direction: row;
   
}

.words-info{
    font-size: large;
    color: rgb(12, 73, 30);
    text-align: center;
    font-weight: bold;
    padding-bottom: 0%;
}

ul{
	list-style: none;
    margin: 0;
    padding: 2px; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(99, 44, 25);
     
}

.match-info {
    text-align: center;
    text-decoration: wavy;
    font-size: large;
    font-weight: bold;
    color: rgb(238, 231, 231);
    font-variant: small-caps;
}

.outgoing{
    padding: 20px;
    text-align: center;
    
}

.guess-list{
    border: 2px solid rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    height: 300px;
    width: 250px;
    text-align: center;
    background: rgb(241, 223, 196);
    overflow-y: scroll;
   	line-height: 30px;
    color: rgb(44, 43, 44);
    padding-right: 10px;
    padding-left: 20px;
    margin: auto;
}

.word-list{
    border: 2px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    height: 300px;
    width: 250px;    
    text-align: center;
    background: rgb(241, 223, 196);
    overflow-y: scroll;
   	line-height: 30px;
    color: rgb(44, 43, 43);
    margin: auto;
}

button{

    border-radius: 5px;
    cursor: pointer;
    }

button:hover {background-color: #24a528}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


